/* Main Container for Student Home */
.studentHome {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Header Styles */
.header {
  background-color: #6ea4ac;
  color: white;
  padding: 20px;
  text-align: center;
}

.profileLink {
  color: rgb(180, 70, 105);
  text-decoration: none;
  font-weight: bold;
}

/* Sections Grid Container */
.sectionsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* Section Card Styling */
.section {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.section:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.sectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionIcon {
  width: 100px; /* Adjust as needed */
  height: auto;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
}
